*{
  margin:0;
  padding:0;
}
.navSideBar{
  height:100vh;
  width:250px;
  background-color: #E7E9EB;
  position:fixed;
  overflow:scroll;
  overflow-x: hidden;
}
.navSideBar a{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navSideAllo{
  margin-top:10px;
}
.nonactivelink{
  text-decoration: none;
  color:black;
  padding:3.5px; 
}
.activeLink{
  text-decoration: none;
  color:white;
  background-color: green;
  padding:3.5px; 
}
.nonactivelink:hover{
  background-color: lightgray;
}
.modal-parent{
  height:100vh;
  width:100vw;
  background-color: rgba(0,0,0,0.4);
  position:fixed;
  top:0;
  left:0;
  z-index: 1000;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
.modal-content{
  width:50%;
  height:50%;
  background-color: white;
  border-radius: 20px;
}